ServerSignature {{ apache_serversignature | default('Off') }}
ServerTokens {{ apache_servertokens | default('Prod') }}
FileETag {{ apache_fileetag | default('None') }}
TraceEnable {{ apache_traceenable | default('Off') }}
